  :root {
    --font: sans-serif;
    --white1:#FFFFF0;
    --red1 :#DA2430;
    --red-darker:#490B10;
    --black1:#000002;
    --gray1:#555555;  
}

  .footer {
  border-top:  solid 2px var(--red-darker);
    background-color: var(--black1);
    color: var(--white1);
    padding: 20px;
    margin: 10px 60px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
  }

  .footer-section a:hover {
    color: var(--red1);
    transition: 0.5s;
    cursor: pointer;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    display: block;
    margin-bottom: 5px;
    color: var(--white1);
    text-decoration: none;
  }
  .footer-section img{
    width:150px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid var(--red-darker);
    margin-top: 20px;
  }
  
  /* Add media queries for responsiveness */
  @media screen and (max-width: 650px) {
    .footer-section {
      flex-basis: 50%;
    }
  }
  