:root {

  --white:#FFFFF0;
  --red :#FF0800;
  --red-darker:#65000B;
  --black:#000002;
  --gray:#555555;

}

html , body{
  background-color: #000002;
  margin: 0;
  scroll-behavior: smooth;
  margin: 0;

}
.App{
  margin: 0;
  display: inline;
}